In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df = sns.load_dataset('titanic')

## describe()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [6]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
df.describe(include='object')

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

# count()

데이터 개수 확인 용도

In [9]:
df.count()

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [11]:
df['age'].count()

np.int64(714)

## mean()

데이터 평균 확인하는 용도

In [15]:
arr = np.arange(15).reshape(3, 5)
temp_df = pd.DataFrame(arr)
temp_df.mean()

0    5.0
1    6.0
2    7.0
3    8.0
4    9.0
dtype: float64

In [20]:
df.mean(numeric_only=True) #numeric_only=True: 숫자 형태만 골라주세요

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [21]:
df['age'].mean()

np.float64(29.69911764705882)

In [23]:
cond = df['adult_male'] == True
df.loc[cond, 'age'].mean()

np.float64(33.17312348668281)

- fare를 30이상 40미만 지불한 승객
- pclass 1등급

 => 나이 평균/ count

In [27]:
c1 = df['fare'] >= 30 #파이썬에서는 이중 부등호 못함, 따로 나눠서 변수 설정하기
c2 = df['fare'] < 40
c3  = df['pclass'] == 1
df.loc[c1 & c2 & c3, 'age'].mean()
# df.loc[c1 & c2 & c3, 'age'].count()

np.float64(44.095238095238095)

In [28]:
df.loc[c1 & c2 & c3, 'age']

23     28.0
55      NaN
96     71.0
170    61.0
174    56.0
209    40.0
270     NaN
298     NaN
339    45.0
351     NaN
449    52.0
462    47.0
492    55.0
515    47.0
556    48.0
607    27.0
625    61.0
630    80.0
632    32.0
647    56.0
740     NaN
766     NaN
782    29.0
793     NaN
842    30.0
853    16.0
887    19.0
889    26.0
Name: age, dtype: float64

In [30]:
df.mean(numeric_only=True, skipna=False)

survived       0.383838
pclass         2.308642
age                 NaN
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

### median()

중앙값 구하는 함수

In [42]:
pd.Series([1, 2, 3, 4, 9]).median() #pd'(pandas) 실행할때 Series 대문자 쓰기 유dml할 것

np.float64(3.0)

In [43]:
pd.Series([1, 2, 3, 4, 9]).mean()

np.float64(3.8)

In [44]:
pd.Series([1, 2, 3, 4, 5, 6]).median()

np.float64(3.5)

In [45]:
mean_value = df['age'].mean()
median_value = df['age'].median()
print(mean_value, median_value)

29.69911764705882 28.0

## sum

In [47]:
df.sum(numeric_only=True)

survived        342.0000
pclass         2057.0000
age           21205.1700
sibsp           466.0000
parch           340.0000
fare          28693.9493
adult_male      537.0000
alone           537.0000
dtype: float64

In [49]:
df['fare'].sum()

np.float64(28693.9493)

In [50]:
df['fare'].cumsum() #cumsum 누적합

0          7.2500
1         78.5333
2         86.4583
3        139.5583
4        147.6083
          ...
886    28602.7493
887    28632.7493
888    28656.1993
889    28686.1993
890    28693.9493
Name: fare, Length: 891, dtype: float64

In [54]:
df['fare'].cumprod() #cumprod 누적곱

0      7.250000e+00
1      5.168039e+02
2      4.095671e+03
3      2.174801e+05
4      1.750715e+06
           ...
886    0.000000e+00
887    0.000000e+00
888    0.000000e+00
889    0.000000e+00
890    0.000000e+00
Name: fare, Length: 891, dtype: float64

### var (분산)

평균에서 해당 데이터가 얼마나 떨어져 있는 값인가 확인해보는 함수

In [64]:
# 평균
fare_mean =  df['fare'].values.mean()

#분산 구하는 공식?
total = ((df['fare'].values - fare_mean) ** 2).sum()
total_count = df['fare'].count() - 1
my_var = total / total_count
my_var

np.float64(2469.436845743116)

In [65]:
df['fare'].var()

np.float64(2469.436845743116)

### std(표준편차)

In [68]:
np.sqrt(df['fare'].var())

np.float64(49.6934285971809)

In [69]:
df['fare'].std()

np.float64(49.6934285971809)

### min, max

In [71]:
df['age'].min()

np.float64(0.42)

In [72]:
df['age'].max()

np.float64(80.0)

### agg (어떤 결과에다가 더해서 보고 싶은 결과 및 데이터들을 덧붙이는 것)

In [73]:
df['age'].agg(['mean', 'std'])

mean    29.699118
std     14.526497
Name: age, dtype: float64

In [75]:
df[['age', 'fare']].agg(['mean', 'count', 'min', 'max'])

              age        fare
mean    29.699118   32.204208
count  714.000000  891.000000
min      0.420000    0.000000
max     80.000000  512.329200

### quantile(분위를 나타내는 것)

특정 데이터가 몇 분위인지 나타내는 것

In [81]:
df['age'].quantile(0.1)

np.float64(14.0)

In [82]:
df['age'].quantile(0.9)

np.float64(50.0)

In [83]:
df['age'].quantile(0.5)

np.float64(28.0)

### unique

In [85]:
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [89]:
df['who'].nunique()

3

### mode 
데이터 값의 빈도를 확인

In [97]:
df['who'].mode()

0    man
Name: who, dtype: object

In [98]:
df['deck'].mode()

0    C
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

### corr

-1부터 1까지의 범위를 가지는 값. -1에 가까워 지면, key와 value가 반비례에 가까운 관계 1에 가까우지면, 비례에 가까워지는 관계

In [100]:
df.corr(numeric_only=True)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000

In [103]:
df.corr(numeric_only=True)['survived'] #survived와의 관계를 나타내는? -1에서 1까지 범위로서

survived      1.000000
pclass       -0.338481
age          -0.077221
sibsp        -0.035322
parch         0.081629
fare          0.257307
adult_male   -0.557080
alone        -0.203367
Name: survived, dtype: float64